.gl-logo {
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.gl-project {
    background: #ebecf0;
    padding: 1px 3px;
    border-radius: 2px;
    display: inline-block;
    line-height: 20px;
    white-space: normal;
}

.gl-commit {
    background: #ebecf0;
    padding: 1px 3px;
    border-radius: 2px;
    display: inline-block;
    line-height: 20px;
    white-space: normal;
}

.gl-tag {
    background: #ebecf0;
    padding: 1px 3px;
    border-radius: 2px;
    display: inline-block;
    line-height: 20px;
    white-space: normal;
}

.gl-issue {
    background: #ebecf0;
    padding: 1px 3px;
    border-radius: 2px;
    display: inline-block;
    line-height: 20px;
    white-space: normal;
}
.gl-issue .aui-lozenge {
    margin-left: 2px;
    vertical-align: text-top;
}

.gl-merge-request {
    background: #ebecf0;
    padding: 1px 3px;
    border-radius: 2px;
    display: inline-block;
    line-height: 20px;
    white-space: normal;
}
.gl-merge-request .aui-lozenge {
    margin-left: 2px;
    vertical-align: text-top;
}

.gl-milestone {
    background: #ebecf0;
    padding: 1px 3px;
    border-radius: 2px;
    display: inline-block;
    line-height: 20px;
    white-space: normal;
}
.gl-milestone .aui-lozenge {
    margin-left: 2px;
    vertical-align: text-top;
}

.gl-release {
    background: #ebecf0;
    padding: 1px 3px;
    border-radius: 2px;
    display: inline-block;
    line-height: 20px;
    white-space: normal;
}

.gl-code-block {
    background: #ebecf0;
    padding: 1px 3px;
    border-radius: 2px;
    display: inline-block;
    line-height: 20px;
    white-space: normal;
}
