.gl-logo {
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.gl-group {
    background: #ebecf0;
    padding: 1px 3px;
    border-radius: 2px;
    display: inline-block;
    line-height: 20px;
    white-space: normal;
}

.gl-project {
    background: #ebecf0;
    padding: 1px 3px;
    border-radius: 2px;
    display: inline-block;
    line-height: 20px;
    white-space: normal;
}

.gl-issue {
    background: #ebecf0;
    padding: 1px 3px;
    border-radius: 2px;
    display: inline-block;
    line-height: 20px;
    white-space: normal;
}
.gl-issue .aui-lozenge {
    margin-left: 2px;
    vertical-align: text-top;
}
