#if ($link)
	<div class="code panel pdl" style="border-width: 1px;">
		<div class="codeHeader panelHeader pdl" style="border-bottom-width: 1px;">
			#set ($url = $link.url)
			#set ($fileName = "'" + $link.fileName + "'")
			#if ($firstLine )
				#set ($url = $url + "#L" + $firstLine)
				#set ($fileName = $fileName + " L" + $firstLine)
				#if ($lastLine )
					#set ($url = $url + "-" + $lastLine)
					#set ($fileName = $fileName + "-" + $lastLine)
				#end
			#end
			<a href="$url">
				<span class="aui-icon aui-icon-small aui-iconfont-file"></span>
				<b>
					$fileName
					($link.branch)
					$i18n.getText("org.vaulttec.confluence-gitlab-link.code-block.macro.in_project")
					'$link.project'
				</b>
			</a>
		</div>
		#if ($file)
			<div class="codeContent panelContent pdl">
				<pre class="syntaxhighlighter-pre" data-syntaxhighlighter-params="brush: $language; gutter: $gutter; first-line: $firstLine; theme: $theme;" data-theme="$theme">$file</pre>
			</div>
		#end
	</div>
#else
	#set ($macro = "Code Block")
	#parse ("templates/error.vm")
#end
