#requireResource ("org.vaulttec.confluence-gitlab-link:gitlab-link-resources")

#if ($link)
	<span class="gl-project">
		<a href="$link.url">
			<span class="aui-icon aui-icon-small aui-iconfont-document"></span>
			$link.group / $link.name
		</a>
	</span>
#else
	#set ($macro = "Project")
	#parse ("templates/error.vm")
#end
