#requireResource ("org.vaulttec.confluence-gitlab-links:gitlab-links-resources")

#if ($link)
	<span class="gl-project">
		<img class="gl-logo" src="$req.contextPath/download/resources/org.vaulttec.confluence-gitlab-links:gitlab-links-resources/images/gitlab-logo.png"/>
		$i18n.getText("org.vaulttec.confluence-gitlab-links.project.macro.project")
		<a href="$link.url">
			$link.group / $link.name
		</a>
	</span>
#else
	#set ($macro = "Project")
	#parse ("templates/error.vm")
#end
